*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.bundle
output-metadata.json
*.log
captures
.externalNativeBuild/
.cxx/
obj/
*.jks
*.keystore
google-services.json
**google-services.json
/[Tt]emp/
/[Tt]emporary/
/[Ll]ibrary/
!gradle/wrapper/gradle-wrapper.jar
build/
